.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  padding: 0.2rem 2rem;
  grid-area: header;
  border: 1px dashed blue;
  display: flex;
  align-items: center;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  marging: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  background-position-x: -54px;
  background-position-y: -27px;
  background-repeat: no-repeat;
  background-size: 250px;
  border: 3px solid #ac46a9;
}

nav {
  padding-right: 1rem;
  ul {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 1rem;
    display: flex;
  }
}

main {
  grid-area: main;
  border: 1px dashed gray;
  position: relative;
}

aside {
  grid-area: aside;
  margin-right: 0.5rem;
  border: 1px dashed orange;
}

footer {
  grid-area: footer;
  border: 1px dashed green;
  padding: 1rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "main"
      "main"
      "main"
      "aside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  // main {
  //   display: flex;
  //   flex-direction: column;
  // }

  aside {
    margin: 0;
    // max-height: 15rem;
  }
}
